<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="'dialog'" [mode]="'over'" [opened]="false">
    
    <mat-toolbar>
      <button type="button" mat-icon-button (click)="drawer.close()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Online Tools</span>
    </mat-toolbar>
    
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2 has some text</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar class="navbar">
      <button type="button" mat-icon-button (click)="drawer.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Online Tools</span>

      <a routerLink="/kirill-lotin" mat-button>Kirill Lotin</a>
      <a routerLink="/lotin-kirill" mat-button>Lotin Kirill</a>
      <a routerLink="/about" mat-button>About</a>
    </mat-toolbar>

    <!-- Routing content generated here -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
